body { font-family: Arial; background:#f2f2f2; padding:15px; }
h2 { text-align:center; }

.container { display:flex; gap:15px; }
.box { background:#fff; padding:15px; border-radius:8px; }

label { display:block; margin-top:10px; }
input, select, button { width:100%; padding:7px; margin-top:5px; }

button { background:#ff69b4; color:white; border:none; margin-top:10px; }

.card {
  background:#fafafa;
  border:1px solid #ddd;
  border-radius:6px;
  padding:10px;
  margin-bottom:10px;
}

.card b { display:block; margin-bottom:4px; }

.sil {
  background:red;
  color:white;
  border:none;
  padding:5px;
  width:100%;
  margin-top:5px;
}

@media(max-width:700px){
  .container { flex-direction:column; }
}